.month-header {
  margin-left: 49%;
  font-size: 28px;
}

.table {
  height: 57rem;
}

.day-name {
  font-size: 16px;
}

.day-number {
  font-size: 0.875rem;
}

.current-day {
  font-weight: bold;
  display: inline;
  background-color: #4d4dff;
  padding: 4px;
  border-radius: 14px;
  color: #f2f2f2;
}

.add-button {
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-bottom: 5px;
  padding-right: 5px;
}